pkgbase = fluxer-bin
	pkgdesc = Fluxer Desktop Application
	pkgver = 0.0.8
	pkgrel = 1
	url = https://fluxer.app
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0
	depends = gtk3
	depends = nss
	depends = alsa-lib
	options = !strip
	source = fluxer.desktop
	sha256sums = c4f29013726c32cd70e9dfa830dc49895ea3824d302d8963cd6cd39d6cb54711
	source_x86_64 = fluxer-0.0.8-x64.tar.gz::https://api.fluxer.app/dl/desktop/stable/linux/x64/latest/tar_gz
	sha256sums_x86_64 = c011b324e7db4fec6bf2fc7ad93c2446c3600f2d
	source_aarch64 = fluxer-0.0.8-arm64.tar.gz::https://api.fluxer.app/dl/desktop/stable/linux/arm64/latest/tar_gz
	sha256sums_aarch64 = 77b874a98caf48de5bc4ccf03119f45262fe26fd7be085b57d7b40b1505d0ec8

pkgname = fluxer-bin
